@import '../../assets/styles/colors.scss';

.featured {
  border-left: 6px solid $primary-darkCyan;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.005, 1.005, 1.005);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.job {
  display: flex;
  padding: 20px 32px;
  background-color: #fff;
  margin: 16px 0;
  align-items: center;
  box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  transition: all 200ms ease-in-out;
  transform: scale(1);
  transform-origin: 50% 50%;

  &:hover {
    cursor: pointer;
    transform: scale(1.005) perspective(1px);
    transform-origin: 51% 51%;
    box-shadow: 0 0.8rem 0.8rem 0 rgba(0, 0, 0, 0.05);
  }

  .icon {
    margin: 0 24px 0 0;
  }

  .info {
    flex: 2;
    display: flex;
    flex-direction: column;

    .title-section {
      display: flex;
      align-items: center;
      margin-bottom: 16px;

      .title {
        color: $primary-darkCyan;
        font-size: 0.8rem;
        font-weight: bold;
      }

      .badges {
        margin-left: 12px;
        span {
          margin: 0 4px;
          padding: 6px;
          font-size: 0.5rem;
          text-transform: uppercase;
          background-color: $primary-darkCyan;
          border-radius: 16px;
          color: #fff;

          &:last-child {
            background-color: $featured-darkCyan;
          }
        }
      }
    }

    h1 {
      font-size: 1.2rem;
      color: $featured-darkCyan;
    }
    .sub-info {
      color: $active-darkCyan;
      margin-top: 8px;
      span {
        margin: 0 12px;
        font-size: 0.8rem;
        position: relative;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          &::after {
            content: '';
          }
        }
        &::after {
          content: ' • ';
          position: absolute;
          right: -18px;
          color: $active-darkCyan;
          font-size: 1.5rem;
          top: 8px;
          line-height: 0;
        }
      }
    }
  }

  .tags {
    justify-content: right;
    flex: 1;
    display: flex;
    ul {
      padding: 0;
      display: flex;

      li {
        list-style: none;
        margin: 0 6px;
        padding: 12px;
        background-color: $filter-background;
        color: $primary-darkCyan;
        font-weight: bold;
        font-size: 70%;
        border-radius: 6px;
        transition: all 200ms ease-in-out;
        &:hover {
          background-color: $primary-darkCyan;
          color: #fff;
        }
      }
    }
  }
}
