@import './assets/styles/colors.scss';
@import './assets/styles/media-query.scss';

.App {
  .header {
    height: 156px;
    width: 100%;
    display: block;
    background-image: url('./assets/images/bg-header-desktop.svg');
    background-origin: content-box;
    background-color: $primary-darkCyan;
  }

  .list-jobs {
    max-width: 900px;
    margin: 50px auto 80px;
    display: flex;
    flex-direction: column;
    position: relative;

    @include mobal() {
      padding: 24px;
      margin: 0px auto 80px;
    }

    .job {
      &:first-child {
        margin-top: 0;
        @include mobal() {
          margin-top: 24px;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
