// color pallete
@import 'colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

body {
  background: $job-background;
  font-size: 15px;
}

body,
input,
button,
textarea {
  font-family: 'Spartan', sans-serif;
}
